* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/img/fondo.png');
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
font-weight: 400;
color: #fff !important;
letter-spacing: 0.8px;
padding: 0 25px;
font-size: 18px;
opacity: 0.75;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/************ Banner Css ************/

.banner {
  margin-top: 0;
  padding: 260px 0 800px 0;
  background-image: url('./assets/img/fondo.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  color: white;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
  width: 700px;
  height: 500px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Footer Css ************/

.footer {
  padding: 0 0 10px 0;
  min-height: 70px;
  background-color: #191919;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.newsletter-bx {
  background: #ffffff;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 4%;
  padding: 1%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.upAnimationContainer {
  animation: upAnimation 3s ease-in;
}

.downAnimationContainer {
  animation: downAnimation 3s ease-in;
}

@keyframes upAnimation {
  0% {
    color: #16c784;
  }
  100% {
    color: white;
  }
}

@keyframes downAnimation {
  0% {
    color: #ea3943;
  }
  100% {
    color: white;
  }
}

/************ TablaMenu Css ************/

.transparent-table {
  background-color: red;
}


.btn-custom-lg {
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
}

/************ Imagenes Css ************/


/************ Home Css ************/

/*.home-container {
  width: 100vw;  Ocupa el 100% del ancho de la ventana 
  height: 100vh;  Ocupa el 100% de la altura de la ventana 
  background-color: #fff; /* Color de fondo deseado 
  margin: 0; /* Elimina los márgenes por defecto del cuerpo 
  padding: 0;
/*}*/


/************ Login Css ************/


/*.ContainerLogin {
  
}*/

/************ Register Css ************/


/*.ContainerRegister {
  
}*/

/************ Crear Producto Css ************/


.excel-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.excel-table th,
.excel-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.excel-table th {
  background-color: #f2f2f2;
}

.table-container {
  background-color: white;
  margin-top: 70px; /* Ajusta el margen superior según sea necesario */
  border: 1px solid black;
  overflow: auto;
  max-height: 400px;
}

.button-container {
  margin-top: 20px;
}

.btn-borrar {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-actualizar {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.excel-table td.acciones {
  white-space: nowrap;
  max-width: 0;
  padding: 0;
}

.excel-table td.acciones button {
  margin-right: 5px;
}

/************ Facturas Css ************/

.facturas-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  align-items: center;
  height: 100vh; /* Ajusta la altura del contenedor según el tamaño de la ventana */
  position: relative; /* Asegura que los elementos posicionados dentro del contenedor se ajusten correctamente */
}

.facturas-container {
  width: 90%;
  max-width: 1200px; /* Opcional: limita el ancho máximo del contenedor */
}

.title-facturas {
  margin-top: 100px; /* Ajusta el margen superior para evitar que se sobreponga al Navbar */
  margin-bottom: 30px; /* Ajusta el margen inferior para agregar más espacio */
}

.generate-button {
  position: absolute; /* Permite posicionar el botón de manera absoluta dentro del contenedor */
  top: 130px; /* Ajusta la posición vertical del botón */
  right: 20px; /* Ajusta la posición horizontal del botón */
}

.table-container {
  max-height: calc(100vh - 300px); /* Ajusta la altura máxima de la tabla según el tamaño de la pantalla */
  overflow-y: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Ajusta el margen superior para agregar más espacio */
}

.table {
  width: 100%;
  border-collapse: collapse;
  max-width: 1200px; /* Opcional: limita el ancho máximo de la tabla */
}

.cell {
  border: 1px solid black;
  padding: 8px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter label {
  margin-right: 10px;
}

.filter input,
.filter select {
  padding: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin-right: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ddd;
}

/************ Ticket Css ************/

.container-ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.ticket {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.ticket h2 {
  text-align: center;
}

.ticket table {
  width: 100%;
}

.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #f28d00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}